h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align:center;
}

mat-dialog-content {
  p {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  align-items: flex-end;
  button {
    background-color: #007bff;
    color: #fff;

    &:hover {
      background-color: #0056b3;
    }
  }

}
.label {
    font-size: 16px;
    font-weight: 600;
    padding-right: 5px;
  }
