<div class="seller-info">
  <h1 mat-dialog-title>Seller Information</h1>
  <div mat-dialog-content>
    <div class="d-flex">
      <mat-label class="label">Seller Name: </mat-label>
      <p>{{ data.firstName }}, {{ data.lastName }}</p>
    </div>
    <div class="d-flex">
      <mat-label class="label">Email: </mat-label>
      <p>{{ data.email }}</p>
    </div>

    <div class="d-flex">
      <mat-label class="label">PhoneNumber: </mat-label>
      <p>{{ data.phoneNumber }}</p>
    </div>
  </div>
  <div
    mat-dialog-actions
    style="align-items: flex-end; justify-content: flex-end"
  >
    <button mat-button mat-dialog-close style="background: gray !important;color: white;">
      Close
    </button>
  </div>
</div>
